alte-Cogs
bin
include
lib
lib64
logs
bot_error.log
bot.log
kasse.db
mainbak.py
management.service
pyvenv.cfg
README.md
roles.txt
service_account.json
service_start.sh
start.sh
test.py
tracked_messages.json
__pycache__
data
.env
member_export.csv
